/* styles.css */
body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #006699; /* Northern Whisper's primary color */
}

.metric {
    transition: transform 0.3s;
}

.metric:hover {
    transform: scale(1.05);
}

/* Dark mode specific styles */
body.dark {
    background-color: #1a202c; /* Dark background */
    color: #cbd5e0; /* Light text */
}

body.dark h1 {
    color: #63b3ed; /* Adjusted primary color for dark mode */
}
